@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#Hero {
    background-color: #F2EEE8;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/images-d5405.appspot.com/o/banner.png?alt=media&token=3867525b-a8d2-43fc-aab3-54faed97796c');
    background-size: contain;
    min-height: 100px;
    background-position: 100% 50% ;
    background-repeat: no-repeat;
   
}

#banner-overlay {
    z-index: 1;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #f2eee8 140%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#service-img {
    background-size: cover;
    background-position: 100% 40%;
}
